.home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    article {
        flex: 1 1 100%;
        display: flex;
        padding: 2em;
        height: 35em;

        &:nth-child(odd) {
            background-color: #eee;
        }

        &:nth-child(even) .media-home{
            order: 1;
        }

        &:nth-child(even) p{
            margin-left: 2em;
            order: 2;
        }
    }
    
    .home-wrap-content {
        width: var(--layout-width-index-img, 60em);
        display: flex;
        padding: 0.2em;
        margin: 0 auto;
    }

    p {
        flex: 0 48%;
        padding: 0.5em;
        margin: 0.3em;
        font-size: 1.2em;
        line-height: 1.5;
    }

    .media-home {
        flex: 0 48%;
        // border: 1.5px solid black;
        // margin: 0.3em;
        // padding: 0.5em;
        background-color: #fff;
        box-shadow: 0.4em 0.7em 1.5em rgba($color: #000000, $alpha: 0.9);
        
        img {
            display: block;
            margin-bottom: 3em;
            width: 100%;
            height: 100%;
        }
    }
}