.site-main {
    margin: 0;
    padding: 0;
}

.site {
    display: flex;
    flex-wrap: wrap;
    /* background-image: url('../images/background.jpg'); */
    // background-color: #ccc;
}

.site > * {
    flex: 1 1 100%;
}

/***********   Header   *************/

.site-header {
    background-image: url('https://jooinn.com/images/blue-water-texture-3.jpg');

    @include bp(desktop) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
    }
    
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    min-height: 20vh;
    padding: 1.3em;
    position: relative;
}

.site-header::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.site-branding {
    position: relative;
    z-index: 5;
}

.site-branding a {
    text-decoration: none;
    font-size: 1.1em;
    color: #FFF;
    text-align: center;
}

.site-header section {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
}

.title-pages {
    flex: 1 100%;
    color: #FFF;
    text-align: center;
    /* animation: slideHead 0.5s ease-in 0.6s; */
    opacity: 0;
    transition: opacity 0.3s ease-in 0.7s, transform 0.3s ease-in 0.7s;
}

.title-pages {
    transform: translate3d(-30rem);
    opacity: 0;
}

.loaded .title-pages {
    transform: translateX(0);
    opacity: 1;
}

/* @keyframes slideHead {
    0% {
        transform: translateX(-30rem);
        opacity: 0;
        transition: opacity 0.3s ease-in 0.6s;
    }
    100% {
        transform: translateX();
        transition: opacity 0.3s ease-in 0.6s;
        opacity: 1;
    }
} */

/****************   Home Page    ******************/

.index-page {
    margin: 0 auto;
    display: flex;
    flex: 1 1 100%;

    @include bp(desktop) {
        flex-wrap: wrap;
        align-items: center;
    }

    @include bp(mobile) {
        flex-direction: column;
        align-items: center;
    }
}

.index-page section {
    align-items: flex-end;
}

.index-page ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0 1em 0;
}

.index-page ul li {
    display: flex;
    align-items: center;
    flex: 0 0 46%;
    margin-bottom: 2.5em;
    border: 0.3em solid #000;
    padding: 2em 1em;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.6);
}

.index-page .slide-img img {
    margin: 0 auto;
    width: var(--layout-width-index-img, 60em);
    height: 25em;
}

.page-prices {
    font-size: 1.2em;
    font-weight: bolder;

    & li:hover {
        color: red;
    }
}

.site-contacts {
    width: var(--layout-width-index-img, 60em);
    margin: 0 auto;

    iframe {
        width: 100%;
        height: 30em;
    }
}