:root {
    --font-size-main: 12px;
    --font-line-height: 1.5;
    --font-family-main: Verdana, sans-serif;

    --layout-width: 70em;
    --layout-width-index-img: 67em;
    --layout-padding-bottom: 1.5em;
}